<div>
  <p>
    Todos os usuários:
    GET-> <a href="http://localhost:4000/api/users">/api/users</a>
  </p>
  <p>
    Um usuário:
    GET -> <a href="http://localhost:4000/api/users/1">/api/users/1</a>
  </p>
  <p>
    Adicionar um usuario:
    POST -> <a href="http://localhost:4000/api/users">/api/users</a>
  </p>
  <p>
    Remover um usuario:
    Delete -> <a href="http://localhost:4000/api/users/1">/api/users</a>
  </p>
</div>
